<div class="row">
	<div class="col-md-4 col-lg-4">
		<a href="#/manage-employees" class="btn btn-default btn-with-icon">
			<i class="ion-chevron-left"></i> Back to Manage Employees
		</a>
	</div>
	<div class="col-md-4 col-lg-4" style="text-align:right">

	</div>
	<div class="col-md-4 col-lg-4" style="text-align:right">
		<button ng-if="!isEdit" ng-click="createEmployee()" class="btn btn-success btn-with-icon">
			<i class="ion-checkmark"></i> Create Employee
		</button>

		<button ng-if="isEdit" ng-click="updateEmployee()" class="btn btn-success btn-with-icon">
			<i class="ion-checkmark"></i> Update Information
		</button>
	</div>
</div>
<br>

<div ba-panel ba-panel-class="with-scroll horizontal-tabs tabs-panel large-panel">
	<uib-tabset active="$tabSetStatus.activeTab">
		<uib-tab heading="Personal Information" ng-click="profileTabs.personalInfo()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/personalInfo.html'"></div>
		</uib-tab>

		<uib-tab heading="Family Background" ng-click="profileTabs.familyBackground()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/familyBackground.html'"></div>
		</uib-tab>

		<uib-tab heading="Educational Background" ng-click="profileTabs.educationalBackground()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/educationalBackground.html'"></div>
		</uib-tab>

		<uib-tab heading="Civil Service Eligibility">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/civilService.html'"></div>
		</uib-tab>

		<uib-tab heading="Work Experience">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/workExperience.html'"></div>
		</uib-tab>

		<uib-tab heading="Voluntary Work">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/voluntaryWork.html'"></div>
		</uib-tab>

		<uib-tab heading="Training Programs">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/trainingPrograms.html'"></div>
		</uib-tab>

		<uib-tab heading="Other Info">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/otherInfo.html'"></div>
		</uib-tab>

	</uib-tabset>
</div>
