<div class="row" ng-if="!isEmployee">
	<div class="col-md-4 col-lg-6">
		<a href="#/manage-employees" class="btn btn-default btn-with-icon">
			<i class="ion-chevron-left"></i> Back to Manage Employees
		</a>
	</div>
	<div class="col-md-4 col-lg-6" style="text-align: right;">
		<button ng-if="!isEdit" ng-click="createEmployee()" class="btn btn-success btn-with-icon">
			<i class="ion-checkmark"></i> Create Employee
		</button>

		<div class="row" ng-if="isEdit">
			<div class="col-md-4 col-sm-4">
				<button ng-click="deletConfirmation()" class="btn btn-danger btn-with-icon">
					<i class="ion-trash-a"></i> Delete Employee
				</button>
			</div>

			<div class="col-md-4 col-sm-4">
				<button ng-if="!isActive" ng-click="activateEmployee(true)" class="btn btn-info btn-with-icon">
					<i class="ion-flash"></i> Activate Employee
				</button>
				<button ng-if="isActive" ng-click="activateEmployee(false)" class="btn btn-warning btn-with-icon">
					<i class="ion-nuclear"></i> Deactivate Employee
				</button>
			</div>

			<div class="col-md-4 col-sm-4">
				<button ng-click="updateEmployee()" class="btn btn-success btn-with-icon">
					<i class="ion-checkmark"></i> Update Information
				</button>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-if="isEmployee">
	<div class="col-md-4 col-lg-4">

	</div>
	<div class="col-md-4 col-lg-4" style="text-align:right">

	</div>
	<div class="col-md-4 col-lg-4" style="text-align:right">
		<button ng-click="requestUpdate()" class="btn btn-success btn-with-icon">
			<i class="ion-checkmark"></i> Request Update Information
		</button>
	</div>
</div>

<br>

<div ba-panel ba-panel-class="with-scroll horizontal-tabs tabs-panel large-panel">
	<uib-tabset active="$tabSetStatus.activeTab">
		<uib-tab heading="Personal Information" ng-click="profileTabs.personalInfo()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/personalInfo.html'"></div>
		</uib-tab>

		<uib-tab heading="Family Background" ng-click="profileTabs.familyBackground()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/familyBackground.html'"></div>
		</uib-tab>

		<uib-tab heading="Educational Background" ng-click="profileTabs.educationalBackground()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/educationalBackground.html'"></div>
		</uib-tab>

		<uib-tab heading="Civil Service Eligibility" ng-click="profileTabs.civilService()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/civilService.html'"></div>
		</uib-tab>

		<uib-tab heading="Work Experience" ng-click="profileTabs.workExperience()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/workExperience.html'"></div>
		</uib-tab>

		<uib-tab heading="Voluntary Work" ng-click="profileTabs.voluntaryWork()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/voluntaryWork.html'"></div>
		</uib-tab>

		<uib-tab heading="Training Programs" ng-click="profileTabs.trainingPrograms()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/trainingPrograms.html'"></div>
		</uib-tab>

		<uib-tab heading="Other Info A" ng-click="profileTabs.otherInfo()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/otherInfo.html'"></div>
		</uib-tab>

		<uib-tab heading="Other Info B" ng-click="profileTabs.otherInfoB()">
			<div ng-include="'app/pages/manageEmployees/enrollEmployee/forms/otherInfoB.html'"></div>
		</uib-tab>

	</uib-tabset>
</div>
