

<div class="horizontal-scroll">
	<div class="form-group select-page-size-wrap ">
		<label>Filter
			<select class="form-control selectpicker show-tick" title="Leave Type" selectpicker
			ng-model="smartTablePageSize" ng-options="i for i in ['Vacation', 'Sick', 'Emergency']">
		</select>
	</label>
</div>

<table class="table table-bordered table-hover" st-table="requests">
	<thead>
		<tr class="sortable ">
			<th class="table-id">#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Type</th>
			<th>Action</th>
		</tr>

	</thead>
	<tbody>
		<tr ng-repeat="item in requests" ng-click="editEmployee(item)" style="cursor:pointer;">
			<td class="table-id">{{$index + 1}}</td>
			<td>{{item.firstName}}</td>
			<td>{{item.lastName}}</td>
			<td>{{item.startDate}}</td>
			<td>{{item.endDate}}</td>
			<td>{{item.type}}</td>
			<td>
				<button type="button" class="btn btn-success editable-table-button btn-xs">
					Approve
				</button>
				<button type="button" class="btn btn-danger editable-table-button btn-xs">
					Reject
				</button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7" class="text-center">
				<!-- <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div> -->
				<!-- <span ng-if="isLoading">Loading Employees...Please Wait</span> -->
				<div class="row" ng-if="isLoading">
					<div class="col-sm-12" style="text-align:center; padding-left: 47%;">
						<div class="loader"></div>
					</div>
				</div>
			</td>
		</tr>
	</tfoot>
</table>
</div>
