<h4>Civil Service Eligibility</h4>

<p ng-if="!civilService.length && !isLoading" style="text-align:center;">Empty List. Click the button below to add.</p>

<div ng-repeat="service in civilService" style="padding: 10px 20px; border-width: 1px; border-style: solid; margin-bottom: 15px;">
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="inputFirstName">Career Service</label>
				<input type="text" class="form-control" id="inputFirstName" placeholder="Career Service" ng-model="service.careerService">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="inputLastName">Rating</label>
				<input type="number" class="form-control" id="inputLastName" placeholder="Rating" min="60" max="100" ng-model="service.rating">
			</div>
		</div>
		<div class="col-sm-4 datepicker" ng-controller="EnrollEmployeeCtrl">
			<label>Date of Examination / Conferment</label>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="service.examDate" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="inputFirstName">Place of Examination / Conferment</label>
				<input type="text" class="form-control" id="inputFirstName" placeholder="Place of Examination / Conferment" ng-model="service.examPlace">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="inputLastName">License Number</label>
				<input type="text" class="form-control" id="inputLastName" placeholder="License Number" ng-model="service.licenseNumber">
			</div>
		</div>
		<div class="col-sm-4 datepicker" ng-controller="EnrollEmployeeCtrl">
			<label>Date of Release</label>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="service.licenseReleaseDate" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">

		</div>
		<div class="col-sm-4">

		</div>
		<div class="col-sm-4" style="text-align:right;">
			<button ng-click="removeService($index)" class="btn btn-danger btn-with-icon ">
				<i class="ion-trash-a"></i> Remove
			</button>
		</div>
	</div>
</div>

<div class="row" ng-if="isLoading" style="margin-bottom: 15px;">
	<div class="col-sm-12" style="text-align:center; padding-left: 47%;">
		<div class="loader"></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12" style="text-align:center;">
		<button ng-click="addService()" class="btn btn-info btn-with-icon ">
			<i class="ion-plus"></i> Add Civil Service Eligibility
		</button>
	</div>
</div>
