<h4>List of Other Information</h4>

<p ng-if="!otherInfo.length && !isLoading" style="text-align:center;">Empty List. Click the button below to add.</p>

<div ng-repeat="info in otherInfo" style="padding: 10px 20px; border-width: 1px; border-style: solid; margin-bottom: 15px;">
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="inputFirstName">Special Skills / Hobbies</label>
				<input type="text" class="form-control" id="inputFirstName" placeholder="Position Title" ng-model="info.specialSkill">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="inputLastName">Non-Academic Distinction / Recognition</label>
				<input type="text" class="form-control" id="inputLastName" placeholder="Non-Academic Distinction / Recognition" ng-model="info.nonAcademicRecognition">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="inputLastName">Membership in Association / Organization</label>
				<input type="text" class="form-control" id="inputLastName" placeholder="Membership in Association / Organization" ng-model="info.organizationMembership">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">

		</div>
		<div class="col-sm-4">

		</div>
		<div class="col-sm-4" style="text-align:right;">
			<button ng-click="removeOtherInfo($index)" class="btn btn-danger btn-with-icon ">
				<i class="ion-trash-a"></i> Remove
			</button>
		</div>
	</div>

</div>

<div class="row" ng-if="isLoading" style="margin-bottom: 15px;">
	<div class="col-sm-12" style="text-align:center; padding-left: 47%;">
		<div class="loader"></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12" style="text-align:center;">
		<button ng-click="addOtherInfo()" class="btn btn-warning btn-with-icon ">
			<i class="ion-plus"></i> Add Other Info
		</button>
	</div>
</div>
