<h4>Training Programs</h4>

<p ng-if="!trainingPrograms.length && !isLoading" style="text-align:center;">Empty List. Click the button below to add.</p>

<div ng-repeat="trainingProgram in trainingPrograms" style="padding: 10px 20px; border-width: 1px; border-style: solid; margin-bottom: 15px;">
	<div class="row">
		<div class="col-sm-3">
			<div class="form-group">
				<label for="inputFirstName">Title of Seminar</label>
				<input type="text" class="form-control" id="inputFirstName" placeholder="Title of Seminar" ng-model="trainingProgram.name">
			</div>
		</div>
		<div class="col-sm-3 datepicker" ng-controller="EnrollEmployeeCtrl">
			<label>From</label>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="trainingProgram.inclusiveFromDate" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="col-sm-3 datepicker" ng-controller="EnrollEmployeeCtrl">
			<label>To</label>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="trainingProgram.inclusiveToDate" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="inputFirstName">Number of Hours</label>
				<input type="number" class="form-control" id="inputFirstName" placeholder="Number of Hours" min="1" max="1000" ng-model="trainingProgram.numberOfHours">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<div class="form-group">
				<label for="inputLastName">Conducted / Sponsored By</label>
				<input type="text" class="form-control" id="inputLastName" placeholder="Conducted / Sponsored By" ng-model="trainingProgram.conductor">
			</div>
		</div>
		<div class="col-sm-3">

		</div>
		<div class="col-sm-3">

		</div>
		<div class="col-sm-3">

		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">

		</div>
		<div class="col-sm-4">

		</div>
		<div class="col-sm-4" style="text-align:right;">
			<button ng-click="removeTrainingProgram($index)" class="btn btn-danger btn-with-icon ">
				<i class="ion-trash-a"></i> Remove
			</button>
		</div>
	</div>
</div>

<div class="row" ng-if="isLoading" style="margin-bottom: 15px;">
	<div class="col-sm-12" style="text-align:center; padding-left: 47%;">
		<div class="loader"></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12" style="text-align:center;">
		<button ng-click="addTrainingProgram()" class="btn btn-info btn-with-icon ">
			<i class="ion-plus"></i> Add Training Program
		</button>
	</div>
</div>
