<h4>Work Experience</h4>

<p ng-if="!workExperience.length && !isLoading" style="text-align:center;">Empty List. Click the button below to add.</p>

<div ng-repeat="experience in workExperience" style="padding: 10px 20px; border-width: 1px; border-style: solid; margin-bottom: 15px;">
	<div class="row">
		<div class="col-sm-3">
			<div class="form-group">
				<label for="inputFirstName">Position Title</label>
				<ui-select ng-model="experience.positionTitle" class="btn-group bootstrap-select form-control" ng-change="computeMonthlySalary(experience)" ng-disabled="false" append-to-body="true" search-enabled="false">
					<ui-select-match placeholder="Select">
						<span> {{$select.selected.label}}</span>
					</ui-select-match>
					<ui-select-choices repeat="standardItem in positionTitleList">
						<span ng-bind-html="standardItem.label"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="inputLastName">Department / Agency / Office / Company</label>
				<input type="text" class="form-control" id="inputLastName" placeholder="Department" ng-model="experience.department">
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="inputLastName">Monthly Salary</label><br>
				<!-- <input type="number" class="form-control" id="inputLastName" placeholder="Monthly Salary" min="100" max="100000" ng-model="experience.monthlySalary"> -->
				<span><b>{{experience.monthlySalary}}</b></span>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<div class="form-group">
						<label for="inputFirstName">Salary Grade</label><br>
						<span><b>{{experience.positionTitle.salaryGrade}}</b></span>
						<!-- <ui-select ng-model="experience.salaryGrade" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="false">
							<ui-select-match placeholder="Select">
								<span> {{$select.selected.label}}</span>
							</ui-select-match>
							<ui-select-choices repeat="standardItem in salaryGradeList">
								<span ng-bind-html="standardItem.label"></span>
							</ui-select-choices>
						</ui-select> -->
					</div>
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="form-group">
						<label for="inputFirstName">Step Increment</label>
						<ui-select ng-model="experience.salaryIncrement" class="btn-group bootstrap-select form-control" ng-change="computeMonthlySalary(experience)" ng-disabled="false" append-to-body="true" search-enabled="false">
							<ui-select-match placeholder="Select">
								<span> {{$select.selected.label}}</span>
							</ui-select-match>
							<ui-select-choices repeat="standardItem in salaryIncrementList">
								<span ng-bind-html="standardItem.label"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<div class="form-group">
				<label for="inputLastName">Status of Appointment</label>
				<ui-select ng-model="experience.statusOfAppointment" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="false">
					<ui-select-match placeholder="Select">
						<span> {{$select.selected.label}}</span>
					</ui-select-match>
					<ui-select-choices repeat="standardItem in statusOfAppointmentList">
						<span ng-bind-html="standardItem.label"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<label for="inputLastName">Government Service</label>
				<ui-select ng-model="experience.isGovernmentService" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="false">
					<ui-select-match placeholder="Select">
						<span> {{$select.selected.label}}</span>
					</ui-select-match>
					<ui-select-choices repeat="standardItem in confirmList">
						<span ng-bind-html="standardItem.label"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="col-sm-3 datepicker" ng-controller="EnrollEmployeeCtrl">
			<label>From</label>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" placeholder="mm/dd/yyyy" ng-model="experience.inclusiveFromDate" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="col-sm-3 datepicker" ng-controller="EnrollEmployeeCtrl">
			<label>To</label>
			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" placeholder="mm/dd/yyyy" ng-model="experience.inclusiveToDate" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">

		</div>
		<div class="col-sm-4">

		</div>
		<div class="col-sm-4" style="text-align:right;">
			<button ng-click="removeExperience($index)" class="btn btn-danger btn-with-icon ">
				<i class="ion-trash-a"></i> Remove
			</button>
		</div>
	</div>
</div>

<div class="row" ng-if="isLoading" style="margin-bottom: 15px;">
	<div class="col-sm-12" style="text-align:center; padding-left: 47%;">
		<div class="loader"></div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12" style="text-align:center;">
		<button ng-click="addExperience()" class="btn btn-info btn-with-icon ">
			<i class="ion-plus"></i> Add Work Experience
		</button>
	</div>
</div>
