<div class="modal-content">
  <div class="modal-header bg-success">
  </i><span>Add HR</span>
  </div>
  <div class="modal-body text-center" style="padding: 40px !important;">

    <div class="form-group row clearfix" style="text-align: left;">
      <label for="inputEmail3" class="control-label"><b>Name</b></label>
      <input type="text" class="form-control" id="inputEmail3" placeholder="" ng-model="newUser.name">
    </div>

    <div class="form-group row clearfix" style="text-align: left;">
      <label for="inputEmail3" class="control-label"><b>Email (Required)</b></label>
      <input type="text" class="form-control" id="inputEmail3" placeholder="" ng-model="newUser.email">
    </div>

    <div class="form-group row clearfix" style="text-align: left;">
      <label for="inputConfirmPassword" class="control-label"><b>Password (Required)</b></label>
      <input type="password" class="form-control" ng-model="newUser.password" id="inputConfirmPassword" placeholder="">

    </div>

    <div class="form-group row clearfix" style="text-align: left;">
      <label for="inputPassword" class="control-label"><b>Confirm Password (Required)</b></label>
      <input type="password" class="form-control" ng-model="newUser.confirmPassword" id="inputPassword" placeholder="">
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="createUser()">Save</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
  </div>
</div>
