<div class="row">
	<div class="col-md-6 col-lg-6">
	</div>
	<div class="col-md-6 col-lg-6">
		<div class="row">
			<div class="col-md-6 col-lg-6" style="text-align:right">
			</div>
			<div class="col-md-6 col-lg-6" style="text-align:right">
				<button ng-click="addUser()" class="btn btn-primary btn-with-icon">
					<i class="ion-plus"></i> Add HR
				</button>
			</div>
		</div>
	</div>
</div>

<!-- <div class="horizontal-scroll">
	<div class="form-group select-page-size-wrap ">
		<label>Rows on page
			<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
			ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
		</select>
	</label>
</div> -->
<br>
<table class="table table-bordered table-hover" st-table="users">
	<thead>
		<tr class="sortable ">
			<th class="table-id">#</th>
			<th>Username</th>
			<th>User Type</th>
			<th>Created Date</th>
			<th>Email Verified</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in users" ng-click="editEmployee(item)" style="cursor:pointer;">
			<td class="table-id">{{$index + 1}}</td>
			<td>{{item.attributes.username}}</td>
			<td>{{item.attributes.type}}</td>
			<td>{{item.attributes.createdAt}}</td>
			<td>{{item.attributes.emailVerified || false}}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7" class="text-center">
				<!-- <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div> -->
				<!-- <span ng-if="isLoading">Loading Employees...Please Wait</span> -->
				<div class="row" ng-if="isLoading">
					<div class="col-sm-12" style="text-align:center; padding-left: 47%;">
						<div class="loader"></div>
					</div>
				</div>
			</td>
		</tr>
	</tfoot>
</table>
</div>
