<div class="row">
	<div class="col-md-8 col-lg-8">
	</div>
	<div class="col-md-4 col-lg-4" style="text-align:right">
		<button ng-click="enrollEmployee()" class="btn btn-primary btn-with-icon">
			<i class="ion-plus"></i> Enroll Employee
		</button>
	</div>
</div>

<div class="form-group select-page-size-wrap ">
	<label>Rows on page
		<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
		ng-model="pageLimit" ng-options="i for i in [5,10,15,20,25]" ng-change="limitList()">
	</select>
</label>
</div>

<div class="row">
	<div class="col-md-3 col-lg-3">
	</div>
	<div class="col-md-3 col-lg-3">
	</div>

	<div class="col-md-3 col-lg-3">
	</div>

	<div class="col-md-3 col-lg-3">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="searchParams" ng-model-options='{ debounce: 500 }' ng-change="search()" placeholder="Search for Employees...">
		</div>
	</div>
</div>
<div ba-panel ba-panel-title="Employees ({{totalEmployees}})" ba-panel-class="with-scroll">
	<table class="table table-bordered table-hover" st-table="employees">
		<thead>
			<tr class="sortable ">
				<!-- <th class="table-id">#</th> -->
				<th class="table-id"><b>First Name</b></th>
				<th><b>Last Name</b></th>
				<th><b>Email</b></th>
				<th><b>Designation</b></th>
				<th><b>Appointment</b></th>
				<th><b>Status</b></th>
			</tr>

		</thead>
		<tbody>
			<tr ng-repeat="item in employees" ng-click="editEmployee(item)" style="cursor:pointer;">
				<!-- <td class="table-id">{{$index + 1}}</td> -->
				<td class="table-id">{{item.attributes.firstName}}</td>
				<td>{{item.attributes.lastName}}</td>
				<td><a class="email-link">{{item.attributes.emailAddress}}</a></td>
				<td>{{item.attributes.positionTitle}}</td>
				<td>{{item.attributes.statusOfAppointment}}</td>
				<td><button class="status-button btn btn-xs btn-{{isActive.color(item.attributes.isActive)}}">{{isActive.label(item.attributes.isActive)}}</button></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" class="text-center">
					<div class="row" ng-if="isLoading">
						<div class="col-sm-12" style="text-align:center; padding-left: 47%;">
							<div class="loader"></div>
						</div>
					</div>
					<div class="btn-group" role="group" aria-label="First group">
						<button ng-repeat="i in pageNumbers" type="button" class="btn btn-primary" ng-click="changePage(i)">{{i+1}}</button>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
