<div class="row">
	<div class="col-md-8 col-lg-8">
	</div>
	<div class="col-md-4 col-lg-4" style="text-align:right">
		<button ng-click="enrollEmployee()" class="btn btn-primary btn-with-icon">
			<i class="ion-plus"></i> Enroll Employee
		</button>
	</div>
</div>

<div class="horizontal-scroll">
	<div class="form-group select-page-size-wrap ">
		<label>Rows on page
			<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
			ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
		</select>
	</label>
</div>

<table class="table table-bordered table-hover" st-table="employees">
	<thead>
		<tr class="sortable ">
			<th class="table-id">#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Designation</th>
			<th>Unit</th>
			<th>Status</th>
		</tr>
		<!-- <tr>
			<th>
			</th>
			<th>
				<input st-search="firstName" placeholder="Search First Name" class="input-sm form-control search-input" type="search"/>
			</th>
			<th><input st-search="lastName" placeholder="Search Last Name" class="input-sm form-control search-input" type="search"/>
			</th>
			<th>
				<input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search"/>
			</th>
			<th>
				<input st-search="desgination" placeholder="Search Desgination" class="input-sm form-control search-input" type="desgination"/>
			</th>
			<th>
				<input st-search="unit" placeholder="Search Unit" class="input-sm form-control search-input" type="unit"/>
			</th>
			<th>
				<input st-search="status" placeholder="Search Status" class="input-sm form-control search-input" type="status"/>
			</th>
		</tr> -->
				</thead>
				<tbody>
					<tr ng-repeat="item in employees" ng-click="editEmployee(item)" style="cursor:pointer;">
						<td class="table-id">{{$index + 1}}</td>
						<td>{{item.attributes.firstName}}</td>
						<td>{{item.attributes.lastName}}</td>
						<td><a class="email-link">{{item.attributes.emailAddress}}</a></td>
						<td>Engineering</td>
						<td>DAR</td>
						<td><button class="status-button btn btn-xs btn-{{item.status.type || 'success'}}">{{item.status.message || 'active'}}</button></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="7" class="text-center">
							<!-- <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div> -->
							<span ng-if="isLoading">Loading Employees...Please Wait</span>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
