<div class="row">
	<div class="col-md-8 col-lg-8">
	</div>
	<div class="col-md-4 col-lg-4" style="text-align:right">
		<button ng-click="enrollEmployee()" class="btn btn-primary btn-with-icon">
			<i class="ion-plus"></i> Enroll Employee
		</button>
	</div>
</div>

<div class="horizontal-scroll">
	<div class="form-group select-page-size-wrap ">
		<label>Rows on page
			<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
			ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
		</select>
	</label>
</div>

<table class="table table-bordered table-hover" st-table="smartTableData">
	<thead>
		<tr class="sortable ">
			<th class="table-id" st-sort="id" st-sort-default="true">#</th>
			<th st-sort="firstName">First Name</th>
			<th st-sort="lastName">Last Name</th>
			<th st-sort="email">Email</th>
			<th st-sort="desgination">Designation</th>
			<th st-sort="unit">Unit</th>
			<th st-sort="status">Status</th>
		</tr>
		<!-- <tr>
			<th>
			</th>
			<th>
				<input st-search="firstName" placeholder="Search First Name" class="input-sm form-control search-input" type="search"/>
			</th>
			<th><input st-search="lastName" placeholder="Search Last Name" class="input-sm form-control search-input" type="search"/>
			</th>
			<th>
				<input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search"/>
			</th>
			<th>
				<input st-search="desgination" placeholder="Search Desgination" class="input-sm form-control search-input" type="desgination"/>
			</th>
			<th>
				<input st-search="unit" placeholder="Search Unit" class="input-sm form-control search-input" type="unit"/>
			</th>
			<th>
				<input st-search="status" placeholder="Search Status" class="input-sm form-control search-input" type="status"/>
			</th>
		</tr> -->
				</thead>
				<tbody>
					<tr ng-repeat="item in smartTableData" ng-click="editEmployee()" style="cursor:pointer;">
						<td class="table-id">{{item.id}}</td>
						<td>{{item.firstName}}</td>
						<td>{{item.lastName}}</td>
						<td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
						<td>Engineering</td>
						<td>DAR</td>
						<td><button class="status-button btn btn-xs btn-{{item.status.type || 'success'}}">{{item.status.message || 'active'}}</button></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" class="text-center">
							<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
